.carrusel{
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.836);
    width: 1125px;
    height: 1140px;
    padding: 50px;
    
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 100%;
    height: 800px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:rgba(255, 255, 255, 0);
  }
  
  ul.slider li img{
    width: 1045px;
    height: 700px;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .carru{
    text-align: center;
    margin: 50px;
  }
  
  .carru li{
    display: inline-block;
    text-align: center;
  }
  
  .carru li a{
    left: 10cm;
    color: rgba(247, 3, 3, 0);
    text-decoration: none;
    position: relative;
    top: 10%;
    left: 50%;
    background-color: rgb(253, 253, 253);
    font-size: 50px;
    border-radius: 100%;
   

 